# Python语法基础

## [一、Python数与字符串](#1)
   ### [1、数](#11)
   ### [2、字符串](#12)
## [二、Python基本的数据结构](#2)
   ### [1、列表(list)](#21)
   ### [2、字符串(tuple)](#22)
   ### [3、集合(set)](#23)
   ### [4、字典(dict)](#24)
## [三、认识Python标识符](#3)
## [四、Python行与缩进](#4)

# <a id="1">一、Python数与字符串</a>

## <a id="11">1、数</a>

Python中数字的类型主要有4种，分为

#### 有符号整数型(int)

#### 浮点型(float)

#### 布尔型(bool)

#### 复数型(complex)

例如：

0、1、-1、1009、-290这些等等都是int型。

2.7788、3.277、8.88这些等等都是float型。

bool型只有两个：一个是True、一个是False。

4+2j、-9+20j、56+7j这种类型属于复数类型。

In [29]:
#-*- coding:utf-8 -*-
a = 1
b = 34.1
c = True
d = 4+2j

print("a 的类型是 ", type(a))
print("b 的类型是 ", type(b))
print("c 的类型是 ", type(c))
print("d 的类型是 ", type(d))

a 的类型是  <class 'int'>
b 的类型是  <class 'float'>
c 的类型是  <class 'bool'>
d 的类型是  <class 'complex'>

## <a id="12">2、字符串</a>

在Python中用引号引起来的字符集称之为字符串，比如：'hello'、"my Python"、"2+3"等都是字符串

### 字符串的表示

Python中字符串表示中使用的引号可以是单引号或双引号

In [16]:
# 单引号
c1 = '服务资本市场，推动金融创新'
print(c1)

# 如果想打印出含有单引号字符的字符串，需要加转义符\
c2 = '服务资本市场，\'推\'动金融创新'
print(c2)

# 更简单的方式是改用双引号包裹字符串
c3 = "服务资本市场，'推'动金融创新"
print(c3)

# 同理如果想要打印含有单引号字符的字符串，用单引号包裹即可，单引号双引号包裹的字符串在其他方面没有区别
c4 = '服务资本市场，"推"动金融创新'
print(c4)

服务资本市场，推动金融创新
服务资本市场，'推'动金融创新
服务资本市场，'推'动金融创新
服务资本市场，"推"动金融创新

而三引号的用法略有不同，它可以用来跨行表示字符，这在某些情形下(比如跨行写复杂的SQL语句)非常有用

In [1]:
sql_str = """
    SELECT CODE, TRADEDATE, CLOSE
    FROM ASHAREEODPRICE
    WHERE CODE = '600000.SH'
    AND TRADEDATE >= '20170101'
    AND TRADEDATE <= '20170631'
    ORDER BY CODE, TRADEDATE
    """
print(sql_str)

    SELECT CODE, TRADEDATE, CLOSE
    FROM ASHAREEODPRICE
    WHERE CODE = '600000.SH'
    AND TRADEDATE >= '20170101'
    AND TRADEDATE <= '20170631'
    ORDER BY CODE, TRADEDATE

### 转义字符

任何一门编程语言都有转义字符的存在，即右斜杠加某些字符是有特殊含义的  
python也不例外,python中的转义字符如下

\\\\	反斜杠符号  
\\'	单引号  
\\"	双引号  
\\a	响铃  
\\b	退格(Backspace)  
\\e	转义  
\\000	空  
\\n	换行  
\\v	纵向制表符  
\\t	横向制表符  
\\r	回车  
\\f	换页  
\\oyy	八进制数，yy代表的字符，例如：\\o12代表换行  
\\xyy	十六进制数，yy代表的字符，例如：\\x0a代表换行  
\\other	其它的字符以普通格式输出

In [5]:
print("a\n\nb\n\n")
print("a\tb\ncsdas\tsads\n")

a

b


a	b
csdas	sads

在Python里面，有时候我们需要打印出右斜杠本身，而不是用斜杠表示转义含义。  
可以使用"\\"以表示打印又斜杠，而不是使用转义字符  
也可以使用自然字符串，即在字符串前加上r。这在处理文件路径字符串时非常有用

In [6]:
# 直接加斜杠，若后面字符有特殊含义，输出会有问题
print ("C:\trogram Files\nommon")

# 用两个连续斜杠可以在输出中直接打印斜杠
print ("C:\\trogram Files\\nommon")  #太丑！！！

# 最好的方法是使用自然字符串
print (r"C:\trogram Files\nommon")  #好看！！！

C:	rogram Files
ommon
C:\trogram Files\nommon
C:\trogram Files\nommon

### 字符串运算符

字符串支持传统的  “+”  和  “*”  运算符

In [7]:
#“+” 运算符 拼接字符串
a = "服务资本市场"
b = "推动金融创新"
print(a+b)
#“*” 运算符 重复字符串
print ("我是帅哥"*20)

服务资本市场推动金融创新
我是帅哥我是帅哥我是帅哥我是帅哥我是帅哥我是帅哥我是帅哥我是帅哥我是帅哥我是帅哥我是帅哥我是帅哥我是帅哥我是帅哥我是帅哥我是帅哥我是帅哥我是帅哥我是帅哥我是帅哥

### 字符串的索引与切片

我们在编程的时候，比如字符串"苏华清"中的"华"、"苏"这些等都是"苏华清"的子字符串。  
如果我们想取一个字符串中的子字符串出来，就要进行子字符串运算。而子字符串的运算方法主要有两种，一种是索引运算法[],另一种是切片运算法[:]，那么下面我们分别进行案例讲解。

In [100]:
# 索引运算符从0开始索引，这点与matlab区别很大
# 编程语言基本都是从0开始索引，而matlab，R 这样的科学计算工具一般都采用从1开始
c1="苏华清"
c2=c1[0]
c3=c1[2]

# 切片运算符[a:b]是指从第a下标开始到第b-1下标。同样第一位的下标为0.
c4=c1[:1]  # 包前不包后
c5=c1[1:]
c6=c1[0:2]
c7=c1[-1] 
c8=c1[-3:]
c9=c1[:-2]
print (c2, c3, c4, c5, c6, c7, c8, c9, sep="\n")

# 特殊用法，颠倒顺序
c10 = c1[::-1]
print (c10)

苏
清
苏
华清
苏华
清
苏华清
苏
清华苏

### 格式化字符串

有时候，我们需要使用格式化字符串：

In [102]:
code = "600000.SH"
start_date = "20170101"
end_date = "20170631"

sql_str = """
    SELECT CODE, TRADEDATE, CLOSE
    FROM ASHAREEODPRICE
    WHERE CODE = '%s'
    AND TRADEDATE >= '%s'
    AND TRADEDATE <= '%s'
    ORDER BY CODE, TRADEDATE
    """ % (code, start_date, end_date)
print(sql_str)

    SELECT CODE, TRADEDATE, CLOSE
    FROM ASHAREEODPRICE
    WHERE CODE = '600000.SH'
    AND TRADEDATE >= '20170101'
    AND TRADEDATE <= '20170631'
    ORDER BY CODE, TRADEDATE

在同一变量出现多次时，用下面的方式可能会更清楚

In [8]:
tmp_str = """
　　{name1}：。。。站长，就一天，我明天一早就去广州见您。
　　站长变得严厉：你没看看今天离开的都是什么人吗？你以为这里还有明天？明天还有飞机？有的只是共军的炮弹。
　　站长说着回到军官那边去。
　　{name1}真的着急了，他四下看了一眼，忽然看到了汽车里的{name2}。
　　{name1}简直不敢相信自己的眼睛。
　　对视。
　　打开车门想过去。走了几步。
　　{name1}摇头。
　　{name2}停住。他看见管家跟老爷说完了话，她和他转身上车。
　　{name2}凝视着{name1}。
　　{name1}焦虑地看着她。
　　{name2}微笑着摇上玻璃。汽车开动。
　　{name1}焦急地看着{name2}的脸被玻璃遮挡起来。
　　汽车开动，经过{name1}这边，{name1}忽然弯下腰，倒举着双臂，模仿老母鸡的样子，开始打转，挡住了汽车去路。
　　{name2}隔着玻璃看到，{name1}微笑着在转，在转。
　　站长和军官看得莫名其妙。
　　管家看得莫名其妙。
　　周围其他人也看得莫名其妙。
　　{name2}看着，心酸地笑了。
　　汽车绕开走了，{name1}微笑着停止了动作。 
　　站长过来：则成，你怎么了？
　　{name1}：感冒。
　　飞机起飞了。
""".format(name1="余则成", name2="翠平")
print(tmp_str)

　　余则成：。。。站长，就一天，我明天一早就去广州见您。
　　站长变得严厉：你没看看今天离开的都是什么人吗？你以为这里还有明天？明天还有飞机？有的只是共军的炮弹。
　　站长说着回到军官那边去。
　　余则成真的着急了，他四下看了一眼，忽然看到了汽车里的翠平。
　　余则成简直不敢相信自己的眼睛。
　　对视。
　　打开车门想过去。走了几步。
　　余则成摇头。
　　翠平停住。他看见管家跟老爷说完了话，她和他转身上车。
　　翠平凝视着余则成。
　　余则成焦虑地看着她。
　　翠平微笑着摇上玻璃。汽车开动。
　　余则成焦急地看着翠平的脸被玻璃遮挡起来。
　　汽车开动，经过余则成这边，余则成忽然弯下腰，倒举着双臂，模仿老母鸡的样子，开始打转，挡住了汽车去路。
　　翠平隔着玻璃看到，余则成微笑着在转，在转。
　　站长和军官看得莫名其妙。
　　管家看得莫名其妙。
　　周围其他人也看得莫名其妙。
　　翠平看着，心酸地笑了。
　　汽车绕开走了，余则成微笑着停止了动作。
　　站长过来：则成，你怎么了？
　　余则成：感冒。
　　飞机起飞了。

### 字符串连接

In [17]:
code_list = ["600000.SH", "600001.SH", "600002.SH", "600003.SH", "600004.SH"]
#  千万不要这样写！！！！
#  千万不要这样写！！！！
#  千万不要这样写！！！！
code_str = code_list[0] + "', '" + code_list[1] + "', '" + code_list[2] + "', '" + code_list[3] + "', '" + code_list[4]
print(code_str, "\n")
sql_str = """
    SELECT CODE, TRADEDATE, CLOSE
    FROM ASHAREEODPRICE
    WHERE CODE IN ('%s')
    AND TRADEDATE >= '20170101'
    AND TRADEDATE <= '20170631'
    ORDER BY CODE, TRADEDATE
    """ % (code_str)
print(sql_str)

600000.SH', '600001.SH', '600002.SH', '600003.SH', '600004.SH


    SELECT CODE, TRADEDATE, CLOSE
    FROM ASHAREEODPRICE
    WHERE CODE IN ('600000.SH', '600001.SH', '600002.SH', '600003.SH', '600004.SH')
    AND TRADEDATE >= '20170101'
    AND TRADEDATE <= '20170631'
    ORDER BY CODE, TRADEDATE

In [118]:
code_list = ["600000.SH", "600001.SH", "600002.SH", "600003.SH", "600004.SH"]
#  建议使用str.join方法
code_str = "', '".join(code_list)
print(code_str, "\n")
sql_str = """
    SELECT CODE, TRADEDATE, CLOSE
    FROM ASHAREEODPRICE
    WHERE CODE IN ('%s')
    AND TRADEDATE >= '20170101'
    AND TRADEDATE <= '20170631'
    ORDER BY CODE, TRADEDATE
    """ % (code_str)
print(sql_str)

600000.SH', '600001.SH', '600002.SH', '600003.SH', '600004.SH


    SELECT CODE, TRADEDATE, CLOSE
    FROM ASHAREEODPRICE
    WHERE CODE IN ('600000.SH', '600001.SH', '600002.SH', '600003.SH', '600004.SH')
    AND TRADEDATE >= '20170101'
    AND TRADEDATE <= '20170631'
    ORDER BY CODE, TRADEDATE

# <a id="2">二、Python基本的数据结构</a>

 除了基本的变量类型外，我们经常使用一些容器  
·列表  
·元组  
·集合  
·字典

## <a id="21">1、列表(list)</a>

在Python中没有数组的概念，Python中跟数组最接近的概念就是列表和元组，我们先说列表。  
列表就是用来存储一连串元素的容器。列表用[]来表示，比如说，一个班里面有30个学生，我们需要将30个学生安排到一间教室里面上课，如果把30个学生分别比作元素，那么这个教室就是数组。30个学生是按座位坐好，有序排列的，在数组中的元素是有序排列的。

In [43]:
# 列表
students=["小明","小华","小李","小娟","小云",3]
print (students[len(students)-1])
print (students[-1])
print (students[2:4])

3
3
['小李', '小娟']

In [9]:
# 列表2
students=["小明","小华","小李","小娟","小云",3]
print(students[3])

# 修改列表元素
students[3]="小月"
print(students[3])

# 修改列表元素
students[5]="小楠"
print(students[5])

# 列表里可以同时装不同类型的数据
students[5]=19978
print(students[5])

print(students)

小娟
小月
小楠
19978
['小明', '小华', '小李', '小月', '小云', 19978]

### 列表的常用方法

In [15]:
# 生成空列表
students = []

# 向列表里添加元素
students.append("Harry Potter")
print(students)

# 将另外一个列表里元素添加进列表
students.extend(["Hermione Granger", "Ronald Weasley"])
print(students)

# 在指定位置插入元素
students.insert(1, "Draco Malfoy")
print(students)

# 删除第一个出现的该元素
students.remove("Draco Malfoy")
print(students)

# 返回元素的位置
ind = students.index("Ronald Weasley")
print(ind)

# 计算该元素出现次数
count = students.count("Ronald Weasley")
print(count)

['Harry Potter']
['Harry Potter', 'Hermione Granger', 'Ronald Weasley']
['Harry Potter', 'Draco Malfoy', 'Hermione Granger', 'Ronald Weasley']
['Harry Potter', 'Hermione Granger', 'Ronald Weasley']
2
1

## <a id="22">2、元组(tuple)</a>

Python中跟数组类似的除了列表之外还有元组。元组里面的元素也是进行索引计算。但是列表跟元组有什么区别呢？  
一是列表里面的元素的值可以修改，而元组里面的元素的值不能修改，只能读取
二是列表的符号是[],而元组的符号是（）

In [36]:
# 元组
students = ("小明", "小军", "小强", "小武", "小龙", 100)
print (students)

# 注意这不是元组！！！
students = ("小明")
print(students)

# 在只有一个元素时，元组应该这样表示
students = ("小明", )
print(students)

('小明', '小军', '小强', '小武', '小龙', 100)
小明
('小明',)

In [12]:
#元组
students=("小明","小军","小强","小武","小龙")

students[1]="小云"
print (students[1])

TypeError: 'tuple' object does not support item assignment

由于元组不可修改，因此其不像列表那样，有众多的方法

大家可能会问，既然列表的灵活性比元组更高，为何不直接在所有情形下使用列表

原因有二：
一.元组的运行效率高于列表，在不需要修改数据结构的应用场景下，使用元组更合适  
二.元组的不可变性在某些应用场景下很重要，列表无法替代（如后面讲到的作为字典的键）

## <a id="23">3、集合(set)</a>

Python中集合主要有两个功能，一个功能是进行集合操作，另一个功能是消除重复元素。
集合的格式是：set(元素)或{元素}

In [24]:
a = {"a", "b", "c", "d"}
print ("set a:", a)

b = set(["a", "b", "b", "d", "e"])
# 注意重复元素已被去除
print ("set b:", b)
#交集
x = a & b 
print("交集", x)
#并集
y = a | b
print("并集", y) 
#差集
z = b - a
print("差集", z) 
#去除重复元素

set a: {'a', 'd', 'b', 'c'}
set b: {'e', 'a', 'd', 'b'}
交集 {'a', 'd', 'b'}
并集 {'d', 'c', 'e', 'b', 'a'}
差集 {'e'}

## <a id="24">4、字典(dict)</a>

Python中的字典用键值对表示关系型的数据

如 HuangKe 的 phone 为 13262555017  
email 为 khuang@sse.com.cn  
gender 为 male

In [122]:
# 字典， 注意与集合构造时表示的不同
# 需要传入 键 - 值 对数据，键与值之间用:分隔，键值对之间用,分隔

huangke_info = {"phone": 13262555017, "email": "khuang@sse.com.cn", "gender": "male"}

# 选取字典元素
print (huangke_info["phone"])

# 添加字典里面的项目
huangke_info["hobby"] = "history"
huangke_info["hobby2"] = "programing"
print(huangke_info)

# 删除字典元素
del huangke_info["hobby2"]
print(huangke_info)

13262555017
{'phone': 13262555017, 'email': 'khuang@sse.com.cn', 'gender': 'male', 'hobby': 'history', 'hobby2': 'programing'}
{'phone': 13262555017, 'email': 'khuang@sse.com.cn', 'gender': 'male', 'hobby': 'history'}

In [71]:
# ！！！！！！！！！！注意1
# 不允许同一个键出现两次。创建时如果同一个键被赋值两次，前一个赋值会被覆盖
huangke_info["hobby"] = "history of the world"
print(huangke_info)

{'phone': 13262555017, 'email': 'khuang@sse.com.cn', 'gender': 'male', 'hobby': 'history of the world'}

In [121]:
# ！！！！！！！！！！注意2
# 值可以为任意数据类型，
# 但是键必须是不可变对象（其实更严格的说法是hashable，有兴趣可自行了解字典查找的工作原理） 
# 数字，字符串，元组可以作为字典的键
huangke_info[1] = "a"
huangke_info["age"] = 18
huangke_info[("school", "major")] = ["BUAA", "Finance Engineering"]
print(huangke_info, "\n\n\n")
# 但是list不行
huangke_info[["school", "major"]] = ["BUAA", "Finance Engineering"]
print(huangke_info)

{1: 'a', 'age': 18, ('school', 'major'): ['BUAA', 'Finance Engineering']}

TypeError: unhashable type: 'list'

#### 字典的常用方法

In [76]:
huangke_info = {"phone": 13262555017, "email": "khuang@sse.com.cn", "gender": "male"}
print(huangke_info, "\n")

keys = huangke_info.keys()
print("keys: ", keys, "\n")

values = huangke_info.values()
print("values: ", values, "\n")

items = huangke_info.items()
print("items: ", items, "\n")

huangke_info.update({"age": "18"})
print(huangke_info, "\n")

huangke_info.clear()
print(huangke_info, "\n")

{'phone': 13262555017, 'email': 'khuang@sse.com.cn', 'gender': 'male'}

keys:  dict_keys(['phone', 'email', 'gender'])

values:  dict_values([13262555017, 'khuang@sse.com.cn', 'male'])

items:  dict_items([('phone', 13262555017), ('email', 'khuang@sse.com.cn'), ('gender', 'male')])

{'phone': 13262555017, 'email': 'khuang@sse.com.cn', 'gender': 'male', 'age': '18'}

{}

# <a id="3">三、认识Python标识符</a>

Python中我们在编程的时候，起的名字就叫做标识符。其中变量和常量就是标识符的一种。
在Python中标识符的命名是有规则的。按正确命名规则命名的可以使用的标识符叫做有效标识符，否则不能使用的标识符叫做无效标识符。有效标识符命名有以下几点规范：  
1、标识符第一个字符必须只能是字母或下划线，第一个字符不能出现数字或其他字符  
2、标识符除第一个字符外，其他部分可以是字母或者下划线或者数字  
3、标识符大小写敏感，比如name跟Name是不同的标识符

### 常用Python关键字

Python中的关键字是指系统中自带的具备特定含义的标识符。常用的Python关键字主要有：and，elif，global，or，else，pass，break，continue，import，class，return，for，while。

自己命名的变量不可与关键字重复

In [77]:
# 常用关键字
# 查看一下关键字有哪些

import keyword
print (keyword.kwlist)
print (keyword.main )

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
<function main at 0x000002122F32F7B8>

# <a id="4">四、Python行与缩进</a>

### 了解逻辑行与物理行

Python中逻辑行主要是指一段代码，在意义上它的行数，而物理行，指的是我们实际看到中的行数。下面我们分别看一些实例。

In [15]:
#逻辑行与物理行

#以下是3个物理行
print ("abc")
print ("789")
print ("777")

#以下是1个物理行，3个逻辑行
print ("abc");print("789");print ("777")

    #以下是1个逻辑行，3个物理行
print ('''啦啦啦啦
啦啦啦啦
啦啦啦啦！''')

abc
789
777
abc
789
777
啦啦啦啦
啦啦啦啦
啦啦啦啦！

### 行中分号使用规则

在Python中一个物理行一般可以包含多个逻辑行，在一个物理行中编写多个逻辑行的时候，逻辑行与逻辑行之间用分号隔开。每个逻辑行的后面必须是有一个分号的，但是我们在编写程序的时候，如果一个逻辑行占了一个物理行的最后，这个逻辑行可以省略分号。我们具体看一些实例

In [80]:
#分号使用规则

#所有的逻辑行后均应使用分号
print ("123");print ("456");
print ("777");

#分号可以省略的条件是指：每个物理行的行末可以省略分号,当然也可以不省略分号。
print ("123");print ("456")    # 这里的分号可以省略，也可以不省略
print ("777" )                 # 这里的分号可以省略，也可以不省略

123
456
777
123
456
777

Python代码讲究简洁性，易懂性，因此，在平时写代码时，能不用分号就不用分号  
一句话来说，能省的分号，我们最好都省略，因此平时我们都不加分号

### 行连接

我们已经知道，多个逻辑行可以写在一个物理行中，那么我们可不可以将一个逻辑行分别写在多个物理行中呢？  
这是可以的， 在括号内可以直接换行，

In [88]:
a='123'
b='qwqwq'
print(a,
      b)

123 qwqwq

对于不可以直接换行的情形，我们可以使用行连接。行连接的方法是在行的最后加上一个\符号

In [12]:
a='123'
b='qwqwq'
c = a + 
    b
print(c)

SyntaxError: invalid syntax (<ipython-input-12-a0ea4aa1f8d2>, line 3)

In [13]:
a='123'
b='qwqwq'
c = a + \
b
print(c)

123qwqwq

### 缩进

在Python中，逻辑行行首的空白是有规定的，逻辑行行首的空白不对，就会导致程序执行出错。这是跟其他语言一个很重要的不同点。下面我们看一下实例。

In [92]:
# 什么是缩进
 print ('123')

IndentationError: unexpected indent (<ipython-input-92-4f5dd73f5bea>, line 2)

缩进的空白有要求的，那么下面我们分别讲一些缩进的方法：  
1、一般情况下逻辑行首不应该出现空白。  
2、if语句的缩进方法。  
3、while循环的缩进方法。

In [2]:
#如何缩进

#一般情况下，行首应该不留空白
import sys

#缩进的方法有两种，可以按空格(一般默认4个空格)，也可以按tab键


#if语句的缩进方法
a=7
if a>0:
    print ("hello")

#while语句的缩进方法
a=0
while a<7:
    print (a)
    a+=1
a=100

hello
0
1
2
3
4
5
6

In [ ]:
123

### 注释

Python中的注释一般用#进行注释，从#开始，一直到一行（物理行）结束的部分，都是注释。

In [95]:
#32323232323232323232
xx = 7 #212121212
print(xx)

7

多行注释可以用三引号包裹注释内容，这种用法一般用于写函数或者是类的使用说明注释

In [126]:
"""
class DataFrame(pandas.core.generic.NDFrame)
 |  Two-dimensional size-mutable, potentially heterogeneous tabular data
 |  structure with labeled axes (rows and columns). Arithmetic operations
 |  align on both row and column labels. Can be thought of as a dict-like
 |  container for Series objects. The primary pandas data structure
 |  
 |  Parameters
 |  ----------
 |  data : numpy ndarray (structured or homogeneous), dict, or DataFrame
 |      Dict can contain Series, arrays, constants, or list-like objects
 |  index : Index or array-like
 |      Index to use for resulting frame. Will default to np.arange(n) if
 |      no indexing information part of input data and no index provided
 |  columns : Index or array-like
 |      Column labels to use for resulting frame. Will default to
 |      np.arange(n) if no column labels are provided
 |  dtype : dtype, default None
 |      Data type to force. Only a single dtype is allowed. If None, infer
 |  copy : boolean, default False
 |      Copy data from inputs. Only affects DataFrame / 2d ndarray input
 |  
 |  Examples
 |  --------
 |  Constructing DataFrame from a dictionary.
 |  
 |  >>> d = {'col1': [1, 2], 'col2': [3, 4]}
 |  >>> df = pd.DataFrame(data=d)
 |  >>> df
 |     col1  col2
 |  0     1     3
 |  1     2     4
 
 
 ......

"""

xxx=2
print xxx