# Groupby操作

In [2]:
import pandas as pd
import numpy as np

在处理金融时间数据时，我们经常会遇到长格式数据：

In [3]:
df_wide = pd.DataFrame(np.random.randn(10, 10),
                  index=pd.date_range("2018-01-01", periods=10, name="trade_date"),
                  columns=pd.Index(["000001.SZ", "000002.SZ", "000003.SZ", "000004.SZ", "600000.SH", "600001.SH", "600002.SH", "600003.SH", "600004.SH", "600005.SH"], name="code"))
df_long = df_wide.stack(-1).reset_index()
df_long.rename({0: "return"},axis=1, inplace=True)
ser = df_long["code"].map({"000001.SZ": "finance", "000002.SZ": "finance", 
                           "000003.SZ": "finance", "000004.SZ": "finance", 
                           "600000.SH": "finance", "600001.SH": "IT",  
                           "600002.SH": "IT", "600003.SH": "IT", 
                           "600004.SH": "IT", "600005.SH": "IT"})
df_long.insert(1, "industry", ser)
df_long

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>trade_date</th>
      <th>industry</th>
      <th>code</th>
      <th>return</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2018-01-01</td>
      <td>finance</td>
      <td>000001.SZ</td>
      <td>-1.021166</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2018-01-01</td>
      <td>finance</td>
      <td>000002.SZ</td>
      <td>-1.402780</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2018-01-01</td>
      <td>finance</td>
      <td>000003.SZ</td>
      <td>-0.018900</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2018-01-01</td>
      <td>finance</td>
      <td>000004.SZ</td>
      <td>0.969914</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2018-01-01</td>
      <td>finance</td>
      <td>600000.SH</td>
      <td>-0.325153</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2018-01-01</td>
      <td>IT</td>
      <td>600001.SH</td>
      <td>-0.488420</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2018-01-01</td>
      <td>IT</td>
      <td>600002.SH</td>
      <td>-0.820296</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2018-01-01</td>
      <td>IT</td>
      <td>600003.SH</td>
      <td>0.002147</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2018-01-01</td>
      <td>IT</td>
      <td>600004.SH</td>
      <td>-0.993037</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2018-01-01</td>
      <td>IT</td>
      <td>600005.SH</td>
      <td>-2.055199</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2018-01-02</td>
      <td>finance</td>
      <td>000001.SZ</td>
      <td>-1.007916</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2018-01-02</td>
      <td>finance</td>
      <td>000002.SZ</td>
      <td>-0.749957</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2018-01-02</td>
      <td>finance</td>
      <td>000003.SZ</td>
      <td>2.404985</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2018-01-02</td>
      <td>finance</td>
      <td>000004.SZ</td>
      <td>-0.853619</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2018-01-02</td>
      <td>finance</td>
      <td>600000.SH</td>
      <td>0.393316</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2018-01-02</td>
      <td>IT</td>
      <td>600001.SH</td>
      <td>-0.567409</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2018-01-02</td>
      <td>IT</td>
      <td>600002.SH</td>
      <td>-0.076138</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2018-01-02</td>
      <td>IT</td>
      <td>600003.SH</td>
      <td>-1.765368</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2018-01-02</td>
      <td>IT</td>
      <td>600004.SH</td>
      <td>-1.500179</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2018-01-02</td>
      <td>IT</td>
      <td>600005.SH</td>
      <td>-2.575396</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2018-01-03</td>
      <td>finance</td>
      <td>000001.SZ</td>
      <td>-0.161250</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2018-01-03</td>
      <td>finance</td>
      <td>000002.SZ</td>
      <td>-0.421908</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2018-01-03</td>
      <td>finance</td>
      <td>000003.SZ</td>
      <td>1.349923</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2018-01-03</td>
      <td>finance</td>
      <td>000004.SZ</td>
      <td>0.193758</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2018-01-03</td>
      <td>finance</td>
      <td>600000.SH</td>
      <td>1.345156</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2018-01-03</td>
      <td>IT</td>
      <td>600001.SH</td>
      <td>0.194626</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2018-01-03</td>
      <td>IT</td>
      <td>600002.SH</td>
      <td>1.634896</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2018-01-03</td>
      <td>IT</td>
      <td>600003.SH</td>
      <td>-0.362762</td>
    </tr>
    <tr>
      <th>28</th>
      <td>2018-01-03</td>
      <td>IT</td>
      <td>600004.SH</td>
      <td>0.095297</td>
    </tr>
    <tr>
      <th>29</th>
      <td>2018-01-03</td>
      <td>IT</td>
      <td>600005.SH</td>
      <td>2.856560</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>70</th>
      <td>2018-01-08</td>
      <td>finance</td>
      <td>000001.SZ</td>
      <td>3.262039</td>
    </tr>
    <tr>
      <th>71</th>
      <td>2018-01-08</td>
      <td>finance</td>
      <td>000002.SZ</td>
      <td>-0.443364</td>
    </tr>
    <tr>
      <th>72</th>
      <td>2018-01-08</td>
      <td>finance</td>
      <td>000003.SZ</td>
      <td>-1.141269</td>
    </tr>
    <tr>
      <th>73</th>
      <td>2018-01-08</td>
      <td>finance</td>
      <td>000004.SZ</td>
      <td>0.813813</td>
    </tr>
    <tr>
      <th>74</th>
      <td>2018-01-08</td>
      <td>finance</td>
      <td>600000.SH</td>
      <td>0.381941</td>
    </tr>
    <tr>
      <th>75</th>
      <td>2018-01-08</td>
      <td>IT</td>
      <td>600001.SH</td>
      <td>-0.311112</td>
    </tr>
    <tr>
      <th>76</th>
      <td>2018-01-08</td>
      <td>IT</td>
      <td>600002.SH</td>
      <td>0.342303</td>
    </tr>
    <tr>
      <th>77</th>
      <td>2018-01-08</td>
      <td>IT</td>
      <td>600003.SH</td>
      <td>-0.778327</td>
    </tr>
    <tr>
      <th>78</th>
      <td>2018-01-08</td>
      <td>IT</td>
      <td>600004.SH</td>
      <td>-0.678220</td>
    </tr>
    <tr>
      <th>79</th>
      <td>2018-01-08</td>
      <td>IT</td>
      <td>600005.SH</td>
      <td>0.594013</td>
    </tr>
    <tr>
      <th>80</th>
      <td>2018-01-09</td>
      <td>finance</td>
      <td>000001.SZ</td>
      <td>-1.068669</td>
    </tr>
    <tr>
      <th>81</th>
      <td>2018-01-09</td>
      <td>finance</td>
      <td>000002.SZ</td>
      <td>-1.231205</td>
    </tr>
    <tr>
      <th>82</th>
      <td>2018-01-09</td>
      <td>finance</td>
      <td>000003.SZ</td>
      <td>0.024076</td>
    </tr>
    <tr>
      <th>83</th>
      <td>2018-01-09</td>
      <td>finance</td>
      <td>000004.SZ</td>
      <td>-0.037439</td>
    </tr>
    <tr>
      <th>84</th>
      <td>2018-01-09</td>
      <td>finance</td>
      <td>600000.SH</td>
      <td>-0.847933</td>
    </tr>
    <tr>
      <th>85</th>
      <td>2018-01-09</td>
      <td>IT</td>
      <td>600001.SH</td>
      <td>-1.260607</td>
    </tr>
    <tr>
      <th>86</th>
      <td>2018-01-09</td>
      <td>IT</td>
      <td>600002.SH</td>
      <td>-0.640208</td>
    </tr>
    <tr>
      <th>87</th>
      <td>2018-01-09</td>
      <td>IT</td>
      <td>600003.SH</td>
      <td>0.529126</td>
    </tr>
    <tr>
      <th>88</th>
      <td>2018-01-09</td>
      <td>IT</td>
      <td>600004.SH</td>
      <td>-0.190601</td>
    </tr>
    <tr>
      <th>89</th>
      <td>2018-01-09</td>
      <td>IT</td>
      <td>600005.SH</td>
      <td>0.604844</td>
    </tr>
    <tr>
      <th>90</th>
      <td>2018-01-10</td>
      <td>finance</td>
      <td>000001.SZ</td>
      <td>-0.495403</td>
    </tr>
    <tr>
      <th>91</th>
      <td>2018-01-10</td>
      <td>finance</td>
      <td>000002.SZ</td>
      <td>1.560283</td>
    </tr>
    <tr>
      <th>92</th>
      <td>2018-01-10</td>
      <td>finance</td>
      <td>000003.SZ</td>
      <td>-1.561930</td>
    </tr>
    <tr>
      <th>93</th>
      <td>2018-01-10</td>
      <td>finance</td>
      <td>000004.SZ</td>
      <td>-2.138744</td>
    </tr>
    <tr>
      <th>94</th>
      <td>2018-01-10</td>
      <td>finance</td>
      <td>600000.SH</td>
      <td>-0.891516</td>
    </tr>
    <tr>
      <th>95</th>
      <td>2018-01-10</td>
      <td>IT</td>
      <td>600001.SH</td>
      <td>-0.144645</td>
    </tr>
    <tr>
      <th>96</th>
      <td>2018-01-10</td>
      <td>IT</td>
      <td>600002.SH</td>
      <td>-0.888204</td>
    </tr>
    <tr>
      <th>97</th>
      <td>2018-01-10</td>
      <td>IT</td>
      <td>600003.SH</td>
      <td>-0.420687</td>
    </tr>
    <tr>
      <th>98</th>
      <td>2018-01-10</td>
      <td>IT</td>
      <td>600004.SH</td>
      <td>0.516887</td>
    </tr>
    <tr>
      <th>99</th>
      <td>2018-01-10</td>
      <td>IT</td>
      <td>600005.SH</td>
      <td>0.784248</td>
    </tr>
  </tbody>
</table>
<p>100 rows × 4 columns</p>
</div>

如果需要对这种类型的数据进行分组统计，就需要用到groupby

例如，计算每天，每个行业的平均收益率

In [4]:
df_long.groupby(["trade_date", "industry"]).mean()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>return</th>
    </tr>
    <tr>
      <th>trade_date</th>
      <th>industry</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">2018-01-01</th>
      <th>IT</th>
      <td>-0.870961</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>-0.359617</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-02</th>
      <th>IT</th>
      <td>-1.296898</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>0.037362</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-03</th>
      <th>IT</th>
      <td>0.883723</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>0.461136</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-04</th>
      <th>IT</th>
      <td>0.235001</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>0.587093</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-05</th>
      <th>IT</th>
      <td>0.250471</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>-0.757273</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-06</th>
      <th>IT</th>
      <td>-0.771999</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>0.571899</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-07</th>
      <th>IT</th>
      <td>-0.081096</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>-1.194050</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-08</th>
      <th>IT</th>
      <td>-0.166268</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>0.574632</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-09</th>
      <th>IT</th>
      <td>-0.191489</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>-0.632234</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-10</th>
      <th>IT</th>
      <td>-0.030480</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>-0.705462</td>
    </tr>
  </tbody>
</table>
</div>

求和就是用sum

In [5]:
df_long.groupby(["trade_date", "industry"]).sum()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>return</th>
    </tr>
    <tr>
      <th>trade_date</th>
      <th>industry</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">2018-01-01</th>
      <th>IT</th>
      <td>-4.354805</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>-1.798086</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-02</th>
      <th>IT</th>
      <td>-6.484490</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>0.186808</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-03</th>
      <th>IT</th>
      <td>4.418616</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>2.305678</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-04</th>
      <th>IT</th>
      <td>1.175003</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>2.935464</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-05</th>
      <th>IT</th>
      <td>1.252354</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>-3.786367</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-06</th>
      <th>IT</th>
      <td>-3.859995</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>2.859495</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-07</th>
      <th>IT</th>
      <td>-0.405479</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>-5.970248</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-08</th>
      <th>IT</th>
      <td>-0.831342</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>2.873159</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-09</th>
      <th>IT</th>
      <td>-0.957446</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>-3.161170</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-10</th>
      <th>IT</th>
      <td>-0.152401</td>
    </tr>
    <tr>
      <th>finance</th>
      <td>-3.527309</td>
    </tr>
  </tbody>
</table>
</div>

当然不仅仅只支持这两个函数，基本的统计函数都是支持的

![image.png](attachment:image.png)

同样，groupby支持apply方法，通过自定义函数，设计自己个性化的操作

但是这有个问题，就是不好知道函数的输入和输出应该是什么，此时我们仍然使用在函数里加print的小技巧

In [7]:
def myfun(x):
    print(type(x), "\n")
    print(x, "\n\n\n")
    return x.loc[:, ["return"]].T
df_long.groupby(["trade_date", "industry"]).apply(myfun)

<class 'pandas.core.frame.DataFrame'>

  trade_date industry       code    return
5 2018-01-01       IT  600001.SH -0.488420
6 2018-01-01       IT  600002.SH -0.820296
7 2018-01-01       IT  600003.SH  0.002147
8 2018-01-01       IT  600004.SH -0.993037
9 2018-01-01       IT  600005.SH -2.055199



<class 'pandas.core.frame.DataFrame'>

  trade_date industry       code    return
5 2018-01-01       IT  600001.SH -0.488420
6 2018-01-01       IT  600002.SH -0.820296
7 2018-01-01       IT  600003.SH  0.002147
8 2018-01-01       IT  600004.SH -0.993037
9 2018-01-01       IT  600005.SH -2.055199



<class 'pandas.core.frame.DataFrame'>

  trade_date industry       code    return
0 2018-01-01  finance  000001.SZ -1.021166
1 2018-01-01  finance  000002.SZ -1.402780
2 2018-01-01  finance  000003.SZ -0.018900
3 2018-01-01  finance  000004.SZ  0.969914
4 2018-01-01  finance  600000.SH -0.325153



<class 'pandas.core.frame.DataFrame'>

   trade_date industry       code    return
15 2018-01-02       IT  600001.SH -0.567409
16 2018-01-02       IT  600002.SH -0.076138
17 2018-01-02       IT  600003.SH -1.765368
18 2018-01-02       IT  600004.SH -1.500179
19 2018-01-02       IT  600005.SH -2.575396



<class 'pandas.core.frame.DataFrame'>

   trade_date industry       code    return
10 2018-01-02  finance  000001.SZ -1.007916
11 2018-01-02  finance  000002.SZ -0.749957
12 2018-01-02  finance  000003.SZ  2.404985
13 2018-01-02  finance  000004.SZ -0.853619
14 2018-01-02  finance  600000.SH  0.393316



<class 'pandas.core.frame.DataFrame'>

   trade_date industry       code    return
25 2018-01-03       IT  600001.SH  0.194626
26 2018-01-03       IT  600002.SH  1.634896
27 2018-01-03       IT  600003.SH -0.362762
28 2018-01-03       IT  600004.SH  0.095297
29 2018-01-03       IT  600005.SH  2.856560



<class 'pandas.core.frame.DataFrame'>

   trade_date industry       code    return
20 2018-01-03  finance  000001.SZ -0.161250
21 2018-01-03  finance  000002.SZ -0.421908
22 2018-01-03  finance  000003.SZ  1.349923
23 2018-01-03  finance  000004.SZ  0.193758
24 2018-01-03  finance  600000.SH  1.345156



<class 'pandas.core.frame.DataFrame'>

   trade_date industry       code    return
35 2018-01-04       IT  600001.SH -0.465240
36 2018-01-04       IT  600002.SH  1.498868
37 2018-01-04       IT  600003.SH  0.126732
38 2018-01-04       IT  600004.SH -0.344038
39 2018-01-04       IT  600005.SH  0.358681



<class 'pandas.core.frame.DataFrame'>

   trade_date industry       code    return
30 2018-01-04  finance  000001.SZ  0.020973
31 2018-01-04  finance  000002.SZ  0.925955
32 2018-01-04  finance  000003.SZ  1.588451
33 2018-01-04  finance  000004.SZ  0.075144
34 2018-01-04  finance  600000.SH  0.324940



<class 'pandas.core.frame.DataFrame'>

   trade_date industry       code    return
45 2018-01-05       IT  600001.SH -0.343281
46 2018-01-05       IT  600002.SH  0.931851
47 2018-01-05       IT  600003.SH -0.359196
48 2018-01-05       IT  600004.SH  0.735676
49 2018-01-05       IT  600005.SH  0.287305



<class 'pandas.core.frame.DataFrame'>

   trade_date industry       code    return
40 2018-01-05  finance  000001.SZ -1.995079
41 2018-01-05  finance  000002.SZ -0.757608
42 2018-01-05  finance  000003.SZ -2.089613
43 2018-01-05  finance  000004.SZ  0.915938
44 2018-01-05  finance  600000.SH  0.139995



<class 'pandas.core.frame.DataFrame'>

   trade_date industry       code    return
55 2018-01-06       IT  600001.SH -0.421025
56 2018-01-06       IT  600002.SH -0.140905
57 2018-01-06       IT  600003.SH -1.738727
58 2018-01-06       IT  600004.SH -0.867515
59 2018-01-06       IT  600005.SH -0.691822



<class 'pandas.core.frame.DataFrame'>

   trade_date industry       code    return
50 2018-01-06  finance  000001.SZ  1.994210
51 2018-01-06  finance  000002.SZ  1.347020
52 2018-01-06  finance  000003.SZ -0.235820
53 2018-01-06  finance  000004.SZ -0.105785
54 2018-01-06  finance  600000.SH -0.140129



<class 'pandas.core.frame.DataFrame'>

   trade_date industry       code    return
65 2018-01-07       IT  600001.SH -0.222259
66 2018-01-07       IT  600002.SH -0.433847
67 2018-01-07       IT  600003.SH -0.985562
68 2018-01-07       IT  600004.SH  2.061432
69 2018-01-07       IT  600005.SH -0.825242



<class 'pandas.core.frame.DataFrame'>

   trade_date industry       code    return
60 2018-01-07  finance  000001.SZ -0.865696
61 2018-01-07  finance  000002.SZ -2.527965
62 2018-01-07  finance  000003.SZ -1.768678
63 2018-01-07  finance  000004.SZ  0.542404
64 2018-01-07  finance  600000.SH -1.350313



<class 'pandas.core.frame.DataFrame'>

   trade_date industry       code    return
75 2018-01-08       IT  600001.SH -0.311112
76 2018-01-08       IT  600002.SH  0.342303
77 2018-01-08       IT  600003.SH -0.778327
78 2018-01-08       IT  600004.SH -0.678220
79 2018-01-08       IT  600005.SH  0.594013



<class 'pandas.core.frame.DataFrame'>

   trade_date industry       code    return
70 2018-01-08  finance  000001.SZ  3.262039
71 2018-01-08  finance  000002.SZ -0.443364
72 2018-01-08  finance  000003.SZ -1.141269
73 2018-01-08  finance  000004.SZ  0.813813
74 2018-01-08  finance  600000.SH  0.381941



<class 'pandas.core.frame.DataFrame'>

   trade_date industry       code    return
85 2018-01-09       IT  600001.SH -1.260607
86 2018-01-09       IT  600002.SH -0.640208
87 2018-01-09       IT  600003.SH  0.529126
88 2018-01-09       IT  600004.SH -0.190601
89 2018-01-09       IT  600005.SH  0.604844



<class 'pandas.core.frame.DataFrame'>

   trade_date industry       code    return
80 2018-01-09  finance  000001.SZ -1.068669
81 2018-01-09  finance  000002.SZ -1.231205
82 2018-01-09  finance  000003.SZ  0.024076
83 2018-01-09  finance  000004.SZ -0.037439
84 2018-01-09  finance  600000.SH -0.847933



<class 'pandas.core.frame.DataFrame'>

   trade_date industry       code    return
95 2018-01-10       IT  600001.SH -0.144645
96 2018-01-10       IT  600002.SH -0.888204
97 2018-01-10       IT  600003.SH -0.420687
98 2018-01-10       IT  600004.SH  0.516887
99 2018-01-10       IT  600005.SH  0.784248



<class 'pandas.core.frame.DataFrame'>

   trade_date industry       code    return
90 2018-01-10  finance  000001.SZ -0.495403
91 2018-01-10  finance  000002.SZ  1.560283
92 2018-01-10  finance  000003.SZ -1.561930
93 2018-01-10  finance  000004.SZ -2.138744
94 2018-01-10  finance  600000.SH -0.891516

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th></th>
      <th>90</th>
      <th>91</th>
      <th>92</th>
      <th>93</th>
      <th>94</th>
    </tr>
    <tr>
      <th>trade_date</th>
      <th>industry</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">2018-01-01</th>
      <th>IT</th>
      <th>return</th>
      <td>-0.488420</td>
      <td>-0.820296</td>
      <td>0.002147</td>
      <td>-0.993037</td>
      <td>-2.055199</td>
    </tr>
    <tr>
      <th>finance</th>
      <th>return</th>
      <td>-1.021166</td>
      <td>-1.402780</td>
      <td>-0.018900</td>
      <td>0.969914</td>
      <td>-0.325153</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-02</th>
      <th>IT</th>
      <th>return</th>
      <td>-0.567409</td>
      <td>-0.076138</td>
      <td>-1.765368</td>
      <td>-1.500179</td>
      <td>-2.575396</td>
    </tr>
    <tr>
      <th>finance</th>
      <th>return</th>
      <td>-1.007916</td>
      <td>-0.749957</td>
      <td>2.404985</td>
      <td>-0.853619</td>
      <td>0.393316</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-03</th>
      <th>IT</th>
      <th>return</th>
      <td>0.194626</td>
      <td>1.634896</td>
      <td>-0.362762</td>
      <td>0.095297</td>
      <td>2.856560</td>
    </tr>
    <tr>
      <th>finance</th>
      <th>return</th>
      <td>-0.161250</td>
      <td>-0.421908</td>
      <td>1.349923</td>
      <td>0.193758</td>
      <td>1.345156</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-04</th>
      <th>IT</th>
      <th>return</th>
      <td>-0.465240</td>
      <td>1.498868</td>
      <td>0.126732</td>
      <td>-0.344038</td>
      <td>0.358681</td>
    </tr>
    <tr>
      <th>finance</th>
      <th>return</th>
      <td>0.020973</td>
      <td>0.925955</td>
      <td>1.588451</td>
      <td>0.075144</td>
      <td>0.324940</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-05</th>
      <th>IT</th>
      <th>return</th>
      <td>-0.343281</td>
      <td>0.931851</td>
      <td>-0.359196</td>
      <td>0.735676</td>
      <td>0.287305</td>
    </tr>
    <tr>
      <th>finance</th>
      <th>return</th>
      <td>-1.995079</td>
      <td>-0.757608</td>
      <td>-2.089613</td>
      <td>0.915938</td>
      <td>0.139995</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-06</th>
      <th>IT</th>
      <th>return</th>
      <td>-0.421025</td>
      <td>-0.140905</td>
      <td>-1.738727</td>
      <td>-0.867515</td>
      <td>-0.691822</td>
    </tr>
    <tr>
      <th>finance</th>
      <th>return</th>
      <td>1.994210</td>
      <td>1.347020</td>
      <td>-0.235820</td>
      <td>-0.105785</td>
      <td>-0.140129</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-07</th>
      <th>IT</th>
      <th>return</th>
      <td>-0.222259</td>
      <td>-0.433847</td>
      <td>-0.985562</td>
      <td>2.061432</td>
      <td>-0.825242</td>
    </tr>
    <tr>
      <th>finance</th>
      <th>return</th>
      <td>-0.865696</td>
      <td>-2.527965</td>
      <td>-1.768678</td>
      <td>0.542404</td>
      <td>-1.350313</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-08</th>
      <th>IT</th>
      <th>return</th>
      <td>-0.311112</td>
      <td>0.342303</td>
      <td>-0.778327</td>
      <td>-0.678220</td>
      <td>0.594013</td>
    </tr>
    <tr>
      <th>finance</th>
      <th>return</th>
      <td>3.262039</td>
      <td>-0.443364</td>
      <td>-1.141269</td>
      <td>0.813813</td>
      <td>0.381941</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-09</th>
      <th>IT</th>
      <th>return</th>
      <td>-1.260607</td>
      <td>-0.640208</td>
      <td>0.529126</td>
      <td>-0.190601</td>
      <td>0.604844</td>
    </tr>
    <tr>
      <th>finance</th>
      <th>return</th>
      <td>-1.068669</td>
      <td>-1.231205</td>
      <td>0.024076</td>
      <td>-0.037439</td>
      <td>-0.847933</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">2018-01-10</th>
      <th>IT</th>
      <th>return</th>
      <td>-0.144645</td>
      <td>-0.888204</td>
      <td>-0.420687</td>
      <td>0.516887</td>
      <td>0.784248</td>
    </tr>
    <tr>
      <th>finance</th>
      <th>return</th>
      <td>-0.495403</td>
      <td>1.560283</td>
      <td>-1.561930</td>
      <td>-2.138744</td>
      <td>-0.891516</td>
    </tr>
  </tbody>
</table>
</div>

# 可以发现，原来